div(role="alert" id="alert" class="alert-close" title="alert message" aria-hidden="true")
    .content
        .header-alert
            h6 message 
            span(role="button" tabindex="0"   id="alert-close" aria-hidden="true") 
                i(class="fa-solid fa-xmark")
        .body-alert
