//- include file head
include ../layouts/_start.pug

//- name page
-let nameTitle = "home";
//- array src links
-let srcLinks = ["style" , "home"];

//- include file head
include ../layouts/_head.pug

//- include file links
include ../layouts/_links.pug

//- include file body
include ../layouts/_body.pug

    //- include file header
    include ../components/global/_header.pug

    //- content page
    div(class="content-pages")
                    hfhfhf jfjjffjfj jf jf jf fj fjabdelajalil k nk k
    //- include file header
    include ../components/global/_footer.pug


//- array src scripts
-let srcScripts = ["helpers/functions/classCss/hasClass.m" , "helpers/functions/classCss/addClass.m","helpers/functions/classCss/removeClass.m" , "home"];

//- include file scripts
include ../layouts/_scripts.pug

//- include file end
include ../layouts/_end.pug
